In [16]:
!pip3 install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [17]:
!pip install BeautifulSoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: BeautifulSoup4 in c:\programdata\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from BeautifulSoup4) (2.3.1)

In [18]:
# Importing Libraries
import pandas as pd
import numpy as np
import time
import selenium
import requests
import re
from bs4 import BeautifulSoup
from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings("ignore")

In [19]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

### BANGALORE

In [20]:
url = "https://www.cardekho.com/used-cars+in+bangalore"
driver.get(url)
time.sleep(6)

In [21]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [22]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [23]:
df1=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df1

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2014 Maruti Celerio,4.75 Lakh,VXI AT,"24,978 kms",Petrol,Automatic
1,2014 Maruti Swift,5.13 Lakh,ZXI,"39,516 kms",Petrol,Manual
2,2014 Maruti Ertiga,6.41 Lakh,VXI ABS,"71,264 kms",Petrol,Manual
3,2021 Maruti Alto 800,4.64 Lakh,VXI,"8,047 kms",Petrol,Manual
4,2020 Jeep Compass,21.73 Lakh,1.4 Longitude Option,"14,980 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2019 Kia Seltos,10.88 Lakh,HTK G,"43,276 kms",Petrol,Manual
76,2017 Mahindra KUV 100,5.50 Lakh,mFALCON G80 K6 Plus,"25,000 kms",Petrol,Manual
77,2017 Maruti Celerio,5.10 Lakh,VXI MT BSIV,"31,661 kms",Petrol,Manual
78,2019 Mercedes-Benz GLC,55.95 Lakh,Progressive 220d,"33,000 kms",Diesel,Automatic
79,2015 Skoda Rapid,7.85 Lakh,1.5 TDI AT Elegance,"61,003 kms",Diesel,Automatic

In [24]:
driver.close()

### Ahmedabad

In [26]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [27]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(6)

In [28]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

In [29]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [30]:
df2=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df2

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Hyundai Grand i10,5.41 Lakh,1.2 Kappa Magna BSIV,"21,159 kms",Petrol,Manual
1,2018 Hyundai i20,6.98 Lakh,1.2 Asta,"52,504 kms",Petrol,Manual
2,2016 Hyundai Grand i10,5.63 Lakh,AT Asta,"59,313 kms",Petrol,Automatic
3,2016 Maruti Ciaz,6.12 Lakh,VXi Plus,"36,534 kms",Petrol,Manual
4,2018 Honda Jazz,7.77 Lakh,VX CVT,"26,580 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2021 BMW X1,45.00 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
76,2017 Toyota Land Cruiser,1.31 Cr,VX,"85,000 kms",Diesel,Automatic
77,2017 Toyota Land Cruiser,1.35 Cr,VX Premium,"90,000 kms",Diesel,Automatic
78,2018 Mercedes-Benz GLC,48.50 Lakh,220d 4MATIC Style,"27,000 kms",Diesel,Automatic
79,2020 BMW 3 Series,43.90 Lakh,320d Luxury Line,"27,500 kms",Diesel,Automatic

In [31]:
data = [df1, df2]
  
result = pd.concat(data)
display(result)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2014 Maruti Celerio,4.75 Lakh,VXI AT,"24,978 kms",Petrol,Automatic
1,2014 Maruti Swift,5.13 Lakh,ZXI,"39,516 kms",Petrol,Manual
2,2014 Maruti Ertiga,6.41 Lakh,VXI ABS,"71,264 kms",Petrol,Manual
3,2021 Maruti Alto 800,4.64 Lakh,VXI,"8,047 kms",Petrol,Manual
4,2020 Jeep Compass,21.73 Lakh,1.4 Longitude Option,"14,980 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2021 BMW X1,45.00 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
76,2017 Toyota Land Cruiser,1.31 Cr,VX,"85,000 kms",Diesel,Automatic
77,2017 Toyota Land Cruiser,1.35 Cr,VX Premium,"90,000 kms",Diesel,Automatic
78,2018 Mercedes-Benz GLC,48.50 Lakh,220d 4MATIC Style,"27,000 kms",Diesel,Automatic
79,2020 BMW 3 Series,43.90 Lakh,320d Luxury Line,"27,500 kms",Diesel,Automatic

In [32]:
driver.close()

### Mumbai

In [33]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [35]:
url = "https://www.cardekho.com/used-cars+in+mumbai"
driver.get(url)
time.sleep(6)

In [36]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [38]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [39]:
df3=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df3

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Hyundai Creta,9.71 Lakh,1.6 VTVT SX Plus,"23,824 kms",Petrol,Manual
1,2015 Honda City,5.71 Lakh,i VTEC S,"56,037 kms",Petrol,Manual
2,2015 Hyundai i20,5.33 Lakh,Asta 1.2,"50,497 kms",Petrol,Manual
3,2018 Hyundai Grand i10,5.23 Lakh,1.2 Kappa Sportz Dual Tone,"23,900 kms",Petrol,Manual
4,2018 Maruti Baleno,7.28 Lakh,1.2 CVT Alpha,"19,647 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2017 Maruti Ertiga,8.00 Lakh,CNG VXI,"65,000 kms",CNG,Manual
76,2016 Skoda Rapid,6.73 Lakh,1.5 TDI AT Elegance,"34,000 kms",Diesel,Automatic
77,2021 Maruti Ciaz,11.75 Lakh,Alpha AT,"14,700 kms",Petrol,Automatic
78,2018 Tata Hexa,12.60 Lakh,XT,"50,000 kms",Diesel,Manual
79,2016 Hyundai Creta,8.90 Lakh,1.6 VTVT SX Plus,"55,000 kms",Petrol,Manual

In [40]:
data1 = [result, df3]
  
r1 = pd.concat(data1)
display(r1)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2014 Maruti Celerio,4.75 Lakh,VXI AT,"24,978 kms",Petrol,Automatic
1,2014 Maruti Swift,5.13 Lakh,ZXI,"39,516 kms",Petrol,Manual
2,2014 Maruti Ertiga,6.41 Lakh,VXI ABS,"71,264 kms",Petrol,Manual
3,2021 Maruti Alto 800,4.64 Lakh,VXI,"8,047 kms",Petrol,Manual
4,2020 Jeep Compass,21.73 Lakh,1.4 Longitude Option,"14,980 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2017 Maruti Ertiga,8.00 Lakh,CNG VXI,"65,000 kms",CNG,Manual
76,2016 Skoda Rapid,6.73 Lakh,1.5 TDI AT Elegance,"34,000 kms",Diesel,Automatic
77,2021 Maruti Ciaz,11.75 Lakh,Alpha AT,"14,700 kms",Petrol,Automatic
78,2018 Tata Hexa,12.60 Lakh,XT,"50,000 kms",Diesel,Manual
79,2016 Hyundai Creta,8.90 Lakh,1.6 VTVT SX Plus,"55,000 kms",Petrol,Manual

In [42]:
driver.close()

### Jaipur

In [44]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [45]:
url = "https://www.cardekho.com/used-cars+in+jaipur"
driver.get(url)
time.sleep(6)

In [46]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [48]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,("//div[@class='gsc_col-xs-7  carsName']/a"))
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,("//span[@class='amnt ']"))
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,("//div[@class='car_variant']"))
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [49]:
df4=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df4

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2020 Honda City,13.30 Lakh,ZX CVT,"36,410 kms",Petrol,Automatic
1,2017 Maruti Swift Dzire,6.55 Lakh,AMT ZDI,"1,05,894 kms",Diesel,Automatic
2,2020 Renault Triber,5.80 Lakh,RXL,"43,600 kms",Petrol,Manual
3,2017 Honda City,7.40 Lakh,i-VTEC V,"60,411 kms",Petrol,Manual
4,2021 Hyundai Venue,12.33 Lakh,SX Plus Turbo DCT,"10,898 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2020 Mercedes-Benz GLE,83.50 Lakh,300d,"21,000 kms",Diesel,Automatic
76,2022 BMW X7,1.36 Cr,xDrive30d DPE Signature,650 kms,Diesel,Automatic
77,2014 Mercedes-Benz S-Class,51.50 Lakh,S 350 d,"13,000 kms",Diesel,Automatic
78,2019 Maruti Celerio X,5.45 Lakh,AMT ZXI,"13,000 kms",Petrol,Automatic
79,2021 Maruti Wagon R,6.50 Lakh,CNG LXI Opt,"17,000 kms",CNG,Manual

In [50]:
data2 = [r1,df4]
r2 = pd.concat(data2)
display(r2)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2014 Maruti Celerio,4.75 Lakh,VXI AT,"24,978 kms",Petrol,Automatic
1,2014 Maruti Swift,5.13 Lakh,ZXI,"39,516 kms",Petrol,Manual
2,2014 Maruti Ertiga,6.41 Lakh,VXI ABS,"71,264 kms",Petrol,Manual
3,2021 Maruti Alto 800,4.64 Lakh,VXI,"8,047 kms",Petrol,Manual
4,2020 Jeep Compass,21.73 Lakh,1.4 Longitude Option,"14,980 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2020 Mercedes-Benz GLE,83.50 Lakh,300d,"21,000 kms",Diesel,Automatic
76,2022 BMW X7,1.36 Cr,xDrive30d DPE Signature,650 kms,Diesel,Automatic
77,2014 Mercedes-Benz S-Class,51.50 Lakh,S 350 d,"13,000 kms",Diesel,Automatic
78,2019 Maruti Celerio X,5.45 Lakh,AMT ZXI,"13,000 kms",Petrol,Automatic
79,2021 Maruti Wagon R,6.50 Lakh,CNG LXI Opt,"17,000 kms",CNG,Manual

In [52]:
driver.close()

# Gurgoan

In [53]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [54]:
url = "https://www.cardekho.com/used-cars+in+gurgaon"
driver.get(url)
time.sleep(6)

In [55]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [56]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [57]:
df5=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df5

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Mahindra XUV500,9.10 Lakh,W10 1.99 mHawk,"1,08,939 kms",Diesel,Manual
1,2022 Maruti Ciaz,12.78 Lakh,Alpha AT,"3,665 kms",Petrol,Automatic
2,2018 Maruti Alto 800,3.23 Lakh,LXI,"25,508 kms",Petrol,Manual
3,2020 Renault KWID,4.17 Lakh,1.0 RXT Opt,"12,390 kms",Petrol,Manual
4,2018 Tata Nexon,8.22 Lakh,1.5 Revotorq XZA Plus,"69,828 kms",Diesel,Automatic
...,...,...,...,...,...,...
75,2020 Audi Q2,33.00 Lakh,Premium Plus I,"6,292 kms",Petrol,Automatic
76,2019 Land Rover Range Rover Sport,1.10 Cr,3.0 D SE,"49,000 kms",Diesel,Automatic
77,2019 Kia Seltos,10.88 Lakh,HTK G,"43,276 kms",Petrol,Manual
78,2020 Renault KWID,5.10 Lakh,Climber 1.0 AMT Opt,"6,555 kms",Petrol,Automatic
79,2019 Land Rover Range Rover Sport,1.18 Cr,3.0 D SE,"27,500 kms",Diesel,Automatic

In [58]:
data3= [r2, df5]
  
r3 = pd.concat(data3)
display(r3)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2014 Maruti Celerio,4.75 Lakh,VXI AT,"24,978 kms",Petrol,Automatic
1,2014 Maruti Swift,5.13 Lakh,ZXI,"39,516 kms",Petrol,Manual
2,2014 Maruti Ertiga,6.41 Lakh,VXI ABS,"71,264 kms",Petrol,Manual
3,2021 Maruti Alto 800,4.64 Lakh,VXI,"8,047 kms",Petrol,Manual
4,2020 Jeep Compass,21.73 Lakh,1.4 Longitude Option,"14,980 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2020 Audi Q2,33.00 Lakh,Premium Plus I,"6,292 kms",Petrol,Automatic
76,2019 Land Rover Range Rover Sport,1.10 Cr,3.0 D SE,"49,000 kms",Diesel,Automatic
77,2019 Kia Seltos,10.88 Lakh,HTK G,"43,276 kms",Petrol,Manual
78,2020 Renault KWID,5.10 Lakh,Climber 1.0 AMT Opt,"6,555 kms",Petrol,Automatic
79,2019 Land Rover Range Rover Sport,1.18 Cr,3.0 D SE,"27,500 kms",Diesel,Automatic

In [60]:
driver.close()

### DELHI NCR

In [61]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [63]:
url = "https://www.cardekho.com/used-cars+in+delhi-ncr"
driver.get(url)
time.sleep(6)

In [64]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [65]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [66]:
df6=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df6

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Mahindra XUV500,9.10 Lakh,W10 1.99 mHawk,"1,08,939 kms",Diesel,Manual
1,2022 Maruti Ciaz,12.78 Lakh,Alpha AT,"3,665 kms",Petrol,Automatic
2,2018 Maruti Alto 800,3.23 Lakh,LXI,"25,508 kms",Petrol,Manual
3,2020 Renault KWID,4.17 Lakh,1.0 RXT Opt,"12,390 kms",Petrol,Manual
4,2018 Tata Nexon,8.22 Lakh,1.5 Revotorq XZA Plus,"69,828 kms",Diesel,Automatic
...,...,...,...,...,...,...
75,2021 Mahindra Thar,17.50 Lakh,LX 4-Str Hard Top AT,"12,000 kms",Petrol,Automatic
76,2016 Porsche Cayenne,68.50 Lakh,Diesel Platinum Edition,"50,000 kms",Diesel,Automatic
77,2018 Mercedes-Benz CLA,27.75 Lakh,200 CDI Sport,"33,000 kms",Diesel,Automatic
78,2018 Mercedes-Benz GLA Class,24.50 Lakh,200 d Sport,"54,000 kms",Diesel,Automatic
79,2020 Toyota Fortuner,39.50 Lakh,TRD 4X4 AT,"15,000 kms",Diesel,Automatic

In [67]:
data4 = [r3, df6]
  
r4 = pd.concat(data4)
display(r4)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2014 Maruti Celerio,4.75 Lakh,VXI AT,"24,978 kms",Petrol,Automatic
1,2014 Maruti Swift,5.13 Lakh,ZXI,"39,516 kms",Petrol,Manual
2,2014 Maruti Ertiga,6.41 Lakh,VXI ABS,"71,264 kms",Petrol,Manual
3,2021 Maruti Alto 800,4.64 Lakh,VXI,"8,047 kms",Petrol,Manual
4,2020 Jeep Compass,21.73 Lakh,1.4 Longitude Option,"14,980 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2021 Mahindra Thar,17.50 Lakh,LX 4-Str Hard Top AT,"12,000 kms",Petrol,Automatic
76,2016 Porsche Cayenne,68.50 Lakh,Diesel Platinum Edition,"50,000 kms",Diesel,Automatic
77,2018 Mercedes-Benz CLA,27.75 Lakh,200 CDI Sport,"33,000 kms",Diesel,Automatic
78,2018 Mercedes-Benz GLA Class,24.50 Lakh,200 d Sport,"54,000 kms",Diesel,Automatic
79,2020 Toyota Fortuner,39.50 Lakh,TRD 4X4 AT,"15,000 kms",Diesel,Automatic

In [69]:
driver.close()

Saving the data

In [70]:
r4.to_excel("Used_Cars_Data.xlsx")

In [71]:
r4.to_csv("Used_Cars_Data.csv")